{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}

    <h2>BeSt Teilnehmer - Liste</h2>
    <p>
    <a href="{{ path('app_stats') }}">Statistik</a>
    <a href="{{ path('app_stats2') }}">Statistik 2</a>
    <a href="{{ path('app_stats3',{'jahr': '2021'}) }}">Statistik 3</a>
    </p>
    <hr />
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nachname</th>
            <th>Vorname</th>
            <th>Geb. Datum</th>
            <th>Starttermin</th>
            <th>geplanter Austritt<br> bei 4 Wo.</th>
            <th>geplanter Austritt<br> bei 8 Wo.</th>
            <th>Ausgeschieden</th>
            <th>Grund</th>
            <th>Diff Days</th>
            <th>Diff Weeks</th>
            <th>Aktiv</th>
        </tr>
        </thead>
        <tbody>
        {% for tn in exportData %}
        <tr>
            <td><a href="{{ path('app_tn', { id: tn.id }) }}">{{ tn.nachname }}</a></td>
            <td>{{ tn.vorname }}</td>
            <td>{{ tn.gebdatum|date("d.m.Y") }}</td>
            <td>{{ tn.starttermin|date("d.m.Y") }}</td>
            <td>{{ tn.after4weeks|date("d.m.Y") }}</td>
            <td>{{ tn.after8weeks|date("d.m.Y") }}</td>
            <td>
                {% if tn.ausgeschieden %} 
                    {{ tn.ausgeschieden|date("d.m.Y") }} 
                {% else %}
                    --
                {% endif %}
            </td>
            <td>{{ tn.grundAusgeschieden }}</td>
            <td {% if(tn.diffdays < 0) and (tn.diffdays != "--") %} class="table-warning" {% endif %}>
            {{ tn.diffdays }}
            </td>
            <td{% if(tn.diffweeks < 0) and (tn.diffweeks != "--") %} class="table-warning" {% endif %}>
            {{ tn.diffweeks }}
            </td>
            <td 
            class=
                {% if tn.aktiv %} 
                    "lightgreen_bg"
                    {% else %}
                    "orange_bg"
                {% endif %}
            
            >

            {% if(tn.aktiv) %} ja {% else %} nein {% endif %}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}

