{% extends 'home_base.html.twig' %}

{% block title %}Control Panel{% endblock %}


{% block body %}

<div class='container-fluid'>
    <div class='row'>
    <!--
        <div class='col-xl-2 col-lg-6 col-md-4 col-sm-12 col-xs-12'>
    -->
        <div class='col-sm-12 col-md-4 col-xl-2'>
            <table class='table table-striped table-bordered'>
                <thead>
                    <tr>
                        <th>{{user.role|capitalize}} #{{ user.id }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.nachname }}, {{ user.vorname }}</td>
                    </tr>
                    <tr>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>    
            </table>
        </div>
        <!--
        <div class='col-xl-2 col-lg-6 col-md-8 col-sm-12 col-xs-12'>
        -->
        <div class='col-sm-12 col-md-8 col-xl-10'>
            
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>Coaches</th>
                        <th>Rufnummer</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for coach in allJobCoaches %}
                    <tr>
                        <td>
                            <p>{{ coach.nachname }}, {{coach.vorname }}</p>
                            <p>{{ coach.email }}</p>
                        </td>
                        <td>{{ coach.telefonnummer }}</td>
                        </td>
                        <td>
                        <a href="{{ path('app_adminpanel_coach',{'id': coach.id}) }}" class="btn btn-outline-secondary btn-sm">Mehr</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>    
        </div>
        
    </div>
</div>

{% endblock %}
