{% extends 'home_base.html.twig' %}

{% block title %}Control Panel{% endblock %}


{% block body %}

<div class='container-fluid'>
    <div class='row'>
        <div class="col-xl-2 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <table class='table table-striped table-bordered'>
                <thead>
                    <tr>
                        <th>{{user.role|capitalize}} #{{ user.id }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.nachname }}, {{ user.vorname }}</td>
                    </tr>
                    <tr>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>    
            </table>
            <hr />  

            {% if ((user.role == 'user') or (user.role == 'admin')) %}

            <div class="list-group">
                
                    {% for jobcoach in allJobcoach %}

                        {% if (user.role == 'user') %}

                        <a href="{{ path('app_jobcoach', {jobcoach_id: jobcoach.id} )}}" 
                            class="list-group-item list-group-item-action"
                        >
                        {% else %}

                        <a href="{{ path('app_adminpanel_coach', {id: jobcoach.id} )}}" 
                            class="list-group-item list-group-item-action"
                        >
                        {% endif %}

                            {{ jobcoach.nachname }}, {{ jobcoach.vorname }}

                        </a>

                    {% endfor %}
                
            </div>

            {% endif %}

        </div>
        <div class="col-xl-10 col-lg-8 col-md-12 col-sm-12 col-xs-12">

            <table class='table table-bordered table-hover'>
                <thead>
                    <tr>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        <th>Status</th>
                        <th>Telefonnummer</th>
                        <th>E-mail</th>
                        <th>Geb.Datum</th>
                        <th>Username</th>
                        <th>Starttermin</th>
                        <th>Jobcoach</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for tn in allTeilnehmer %}
                    <tr class={{ tn.status!=1 ? 'table-danger' }}>
                        <td>{{ tn.nachname }}</td>
                        <td>{{ tn.vorname }}</td>
                        <td>{{ tn.status==1 ? 'aktiv' : 'nicht aktiv' }}</td>
                        <td>{{ tn.Telefonnummer }}</td>
                        <td>{{ tn.email }}</td>
                        <td>{{ tn.gebdatum|date('d.m.Y') }}</td>
                        <td>{{ tn.pseudonym }}</td>
                        <td>{{ tn.starttermin|date('d.m.Y') }}</td>
                        <td>{{ tn.jobcoach.nachname }}</td>
                        <td><a href='{{ path('app_teilnehmer', {id: tn.id}) }}'>mehr</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        
    </div>
</div>

{% endblock %}
