<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="{{asset('/style/best.css')}}" rel='stylesheet'>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        
        {% block topmenu %}
        <div class='container-fluid'>
            <div class='row'>
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #052f6e;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_panel') }}">
                        BeSt 
                        <i>App ever</i>
                    </a>

                    {% if isLogged %}

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_panel') }}">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_termin')}}">heutige Termine</a>
                            </li>
                            <li>
                            <a class="nav-link" href="{{ path('app_archiv')}}">Archiv</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_stats3', {jahr: 0}) }}">Statistik</a>
                            </li>
                            {% if user.role == 'admin' %}
                            <div class="vr"></div>
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('addTeilnehmer') }}">Teilnehmer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_benutzer_verwaltung')}}">Benutzer Verwaltung</a>
                            </li>
                            {% endif %}

                        </ul>
                        <ul class="navbar-nav ms-auto flex-nowrap">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Benutzerkonto
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Informationen</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class='nav-link' href='{{path('app_logout')}}'>Logout</a>
                            </li>
                        </ul>
                        
                        </div>

                    {% endif %}

                </div>
            </nav>
            </div>
        </div>
        {% endblock %}
        
        {% block body %}{% endblock %}
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>