{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('app_app')}}">back to home</a>

<div class='row'>
    <table class='table table-striped table-bordered'>
        <thead>
            <tr>
                <th>Monat/Jahr</th>
                <th class='lightblue_bg'>Eingeladene TN im Monat</th>
                <th class='lila_bg'>Starttermin im Monat</th>
                <th class='lightyellow_bg'>wie Geplant Gestartet Ja</th>
                <th class='lightyellow_bg'>wie Geplant Gestartet Nein</th>    
                <th class='lightgreen_bg'>Nicht angetretene TN<br> im Monat<br> [NA]</th>
                <th class='lightyellow_bg'>Angetretene TN, <br>aber vorzeitig abgebrochen / beendet <br>[VAB]</th>
                <th class='lightyellow_bg'>TN, erfolgreich beendet <br> [EB]</th>
                <th class='green_bg'>Durchnchnittstermine <br> der erfolgreich beendeten TN</th>
                <th class='lila_bg'>Termine [ingesamt] <br> im Monat vergeben <br> [betrifft auch Folgemonat]</th>
                <th class='lila_bg'>Termine [ingesamt] <br> im Monat verschoben <br> [betrifft auch Folgemonat]</th>
                <th class='lightblue_bg'>Ausgeschiedene TN <br> [insgesamt] <br> im Monat</th>
                <th class='orange_bg'>Durchschnittl. <br> Verweildauer in Wochen / TN [ingesamt] </th>
                <th class='orange_bg'>Durchschnittl. <br> Verweildauer in Wochen / TN [nur EB]</th>
                <th class='red_bg'>Durchschnittl. <br> Wartezeit Zuweisung bis Einladung <br> [Arbeitstage]</th>
            </tr>
        </thead>
        <tbody>
        {% for row in export %}
            <tr>
                <td>{{ row.searchDate}}</td>
                <td>{{ row.eingeladeneTNimMonat}}</td>
                <td>{{ row.starttermineImMonat }}</td>
                <td>{{ row.wieGeplantGestartetJa }}</td>
                <td>{{ row.wieGeplantGestartetNein }}</td>
                <td>{{ row.nichtAngetreteneTN }}</td>
                <td>{{ row.vabTN }}</td>
                <td>{{ row.ebTN }}</td>
                <td>{{ row.durchnchnittstermineTNwithEB|number_format(2, ',') }}</td>
                <td>{{ row.allTerminCounter }}</td>
                <td>{{row.verschoben}}</td>
                <td>{{row.ausgeschieden}}</td>
                <td>{{row.durchschnittl_insgesamt}}</td>
                <td>{{row.durchschnittl_nurEB}}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}